html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --Pale-Blue: hsl(243, 100%, 93%);
  --Grayish-Blue: hsl(229, 7%, 55%);
  --Dark-Blue: hsl(228, 56%, 26%);
  --Very-Dark-Blue: hsl(229, 57%, 11%);
}

body {
  font-family: "Raleway", sans-serif;
  color: var(--Grayish-Blue);
  background-color: var(--Very-Dark-Blue);
  background-image: url("images/bg-desktop.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
}

html,
body {
  height: 100%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  height: 100%;
  display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.filo {
  border: solid 1px hsl(228, 56%, 26%);
  padding-left: 30px;
  padding-top: 30px;
  border-radius: 0.5rem 7rem 0.5rem 0.5rem;
  background-color: hsl(228, 56%, 26%);
  width: 350px;
  height: 200px;
}

.icons {
  display: flex;
}

.icon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-color: var(--Very-Dark-Blue);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.icons div:first-child {
  margin-left: 0px;
}

.bar-wrapper {
  border: solid 1px var(--Dark-Blue);
  background-color: var(--Dark-Blue);
  margin-top: 50px;
  margin-left: 20px;
  padding: 20px 30px;
  width: 540px;
  height: 150px;
  border-radius: 10px;
}

.bar-wrapper p {
  color: var(--Pale-Blue);
}

progress {
  border-radius: 2px;
  width: 100%;
  height: 22px;
}
progress::-webkit-progress-bar {
  background-color: var(--Very-Dark-Blue);
  border-radius: 20px;
  padding: 3px;
}
progress::-webkit-progress-value {
  border-radius: 20px;
  background-image: linear-gradient(
    to right,
    hsl(6, 100%, 80%),
    hsl(335, 100%, 65%)
  );
}

.bar-sphere {
  background-color: white;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  position: relative;
  right: -330px;
  top: -17px;
}

.bar-extremes {
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  display: flex;
  justify-content: space-between;
}

.bar-extremes span {
  font-weight: bold;
  color: var(--Pale-Blue);
}

.gb-left {
  position: absolute;
  padding: 10px 15px;
  display: inline-flex;
  background-color: #fff;
  border-radius: 10px 10px 0 10px;
  font-weight: 700;
  font-size: 3em;
  align-items: center;
  transform: translate(300px, -160px);
  color: black;
}

.gb-left span {
  font-size: 0.3em;
  color: var(--Grayish-Blue);
  margin-left: 0.5rem;
}

.gb-left ::after {
  content: "";
  position: absolute;
  border-left: 25px solid transparent;
  border-right: 25px solid #fff;
  border-top: 0px solid transparent;
  border-bottom: 25px solid transparent;
  top: 75px;
  left: 125px;
}

/* EXAMPLE
.container-test {
  display: flex;
  width: 100vh;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.centered {
  width: 120px;
  height: 120px;
  border-radius: 75px;
  background-color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  border: solid 5px black;
  margin-bottom: 100px;
} */

@media (max-width: 960px) {
  body {
    background: url(./images/bg-mobile.png) no-repeat center center/cover;
  }

  .container {
    flex-direction: column;
  }

  .bar-wrapper {
    border: solid 1px var(--Dark-Blue);
    background-color: var(--Dark-Blue);
    margin-top: 10px;
    margin-left: 0px;
    padding: 20px 30px;
    width: 350px;
    height: 180px;
    border-radius: 10px;
  }

  .bar-wrapper p {
    text-align: center;
  }

  .bar-sphere {
    position: relative;
    right: -191px;
    top: -18px;
  }

  .gb-left {
    border-radius: 15px;
    transform: translateY(25%);
    transform: translateX(25%);
  }

  .gb-left ::after {
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
  }
}
